<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>assignment2</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
<h1>
    This is assignment 2:rest controller

</h1>
<script>
    $.ajax({
        url:"/api/sum",
        method:"Get",
        data:{
            a:"number 1",
            b:"number 2",
            c:"number 2",
            sum:"their sum"
        },
        success: (data,status,xhr)=>{
            alert(JSON.stringify(data))
    },
        error: (data,status,xhr)=>{
            alert(JSON.stringify(data))
        },


    })

</script>


</body>
</html>